body {
    background-color: rgb(251, 225, 255);
    margin: 0;
    padding: 0;
}

.menu a{
    display: flex;

    text-decoration: none;
}

.AllP {
    margin-left: 2%;

    margin-top: 50px;
}

.Abrigos {
    margin-left: 2%;
    margin-top: 50px;
}
.Camisetas {
    margin-left: 2%;

    margin-top: 50px;
}
.Pantalones {
    margin-left: 2%;

    margin-top: 50px;
}
.Carrito {
    margin-left: 2%;

    margin-top: 50px;
}

footer {
    margin-left: 2%;
    margin-top: 500px;

}

.Abrigos-M {
    position: absolute;

    margin-left: 20vw;
    margin-top: -18vw;
    width: 75vw;
    height: 45vw;
    border-radius: 30px;
    background-color: white;
}

.Abrigos-1 {
    position: absolute;

    margin-left: 22vw;
    margin-top: -17vw;
    width: 15vw;
    height: 16vw;
    border-radius: 30px;
    background-color: rgb(246, 188, 255);
}

.Abrigos-2 {
    position: absolute;

    margin-left: 42vw;
    margin-top: -17vw;
    width: 15vw;
    height: 16vw;
    border-radius: 30px;
    background-color: rgb(246, 188, 255);
}

.Abrigos-3 {
    position: absolute;

    margin-left: 62vw;
    margin-top: -17vw;
    width: 15vw;
    height: 16vw;
    border-radius: 30px;
    background-color: rgb(246, 188, 255);
}


.Abrigos-4 {
    position: absolute;

    margin-left: 22vw;
    margin-top: 7vw;
    width: 15vw;
    height: 16vw;
    border-radius: 30px;
    background-color: rgb(246, 188, 255);
}


.Abrigos-5 {
    position: absolute;

    margin-left: 42vw;
    margin-top: -17vw;
    width: 15vw;
    height: 16vw;
    border-radius: 30px;
    background-color: rgb(246, 188, 255);
}



/*
.abrigo-1 img{
    position: absolute;
    height: 10%;
    width: auto;
}
*/